# 기본
numpy
opencv-python
tqdm
matplotlib
scikit-image

# YOLOv8
ultralytics==8.1.0  # 필요 시 버전 명시

# DeepSort + ReID
deep-sort-realtime
torch==2.3.0  # GPU 지원용 (nightly 또는 최신 stable)
torchreid

# 얼굴 인식 (DeepFace 또는 facenet-pytorch 중 택1)
deepface
facenet-pytorch

# MTCNN (TensorFlow 사용 시)
mtcnn
tensorflow-cpu==2.15.0  # 또는 tensorflow==2.15.0 (GPU 사용시 호환 주의)

# SceneDetect
scenedetect[opencv]

git+https://github.com/serengil/deepface.git